<a href="https://colab.research.google.com/github/sreeram-ravi/Python_101/blob/main/A10_exploring_lists.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Lists

* https://www.w3schools.com/python/python_ref_list.asp  (Python List Methods)
* https://www.w3schools.com/python/python_ref_functions.asp (Python Built-in Functions)

In [3]:
#@title Lists: An Introduction

#Data Type
#List Type

bucket = [ 1 , 2 , 3 , "bob" , "cat", "bird", False]
print ("The elements in the list are : " , bucket)
print ("Data Type : " , type(bucket))

The elements in the list are :  [1, 2, 3, 'bob', 'cat', 'bird', False]
Data Type :  <class 'list'>

In [5]:
#@title 1.Creating an empty list

z = []
print ("Empty list", z)
print ("Length of the list is : " , len(z))

Empty list []
Length of the list is :  0

In [6]:
#@title 2.Creating a list with some elements

xyz = [ "john" , "Mike", 1 , 0 , 5 , True ,"Dog"]

print ("Print the Elements in List 'xyz' : " , xyz)

Print the Elements in List 'xyz' :  ['john', 'Mike', 1, 0, 5, True, 'Dog']

In [11]:
#@title 3.Adding elements at the end

zyx = [1 ,3 , 5 , "Debra" , "Bob" , "nothing"]

zyx.append(13)

zyx.append(True)

print (zyx)

[1, 3, 5, 'Debra', 'Bob', 'nothing', 13, True]

In [16]:
#@title 4.Accessing an element (positive index)
# also known as "Reading an element"
# also known as "Setting an element"

ele = ['john', 'Mike', 1, 0, 5, True, "and" , False , 'Dog' , "Debra" , "Bob"]

first = ele[0]
second = ele[1] 
sixth = ele[5]
seventh = ele[6]
eighth = ele [7]

print(first , sixth , seventh  ,second , eighth )

john True and Mike False

In [11]:
#@title 5.Accessing an element (through Negative Indexing)
# also known as "Reading an element"
# also known as "Setting an element"

row = ['Mike', -1, 0, 12001, True, "and" , False , 'Dog' , "Debra" , "Bob"]

last_element=row[-1]

second_last=row[-2]

fifth_from_last = row[-5]

print (" Last Element : ", last_element , "\n" ,"Second Last Element : " , second_last , "\n" , "Thrird Last Element : " ,fifth_from_last)

 Last Element :  Bob
 Second Last Element :  Debra
 Thrird Last Element :  and

In [12]:
#@title 6.Adding an element at the front of the list

abc = [ 20 , 30 , 40 , 50]

# Adding Element "10" in the front
abc.insert(0,10)

print (abc)

[10, 20, 30, 40, 50]

In [13]:
#@title 7.Adding an element anywhere (at a specific index) 

abc = [ 3 , 6, 12 , 15]

#Adding an element at position "(3)"
abc.insert(2,9)

print(abc)

[3, 6, 9, 12, 15]

In [15]:
#@title 8.Updating (or Replacing) an element

abc = ["bob" , 1 , True , "Tom" , "John" , -10 ]

# replacing element (3) in the list

abc[2] = False
print(abc)

# Replacing element (4) in the list

abc[3] = "something"
print (abc)

# replacing last element

abc[-1] = 100
print (abc)

['bob', 1, False, 'Tom', 'John', -10]
['bob', 1, False, 'something', 'John', -10]
['bob', 1, False, 'something', 'John', 100]

In [20]:
#@title 9.Looping through the list (just for READING)

abc = ["bob" , 1 , True , "Tom" , "John" , -10 ]

for z in abc:
  print (z)

# with Numirical values
abc = [ 2 ,4 ,6, 8,10]
for x in abc:
  print (x ,end=" ")

bob
1
True
Tom
John
-10
2 4 6 8 10

In [25]:
#@title 10.Looping through the list (for UPDATING)

abc = [ 2 ,4 ,6, 8,10]

begin=0

for x in abc:
# print after multipling all elements with 5  
  print (x ," * " ,"5" , " = " , x * 5 )

#updating element in list by multyplying by 5
  abc[begin]= x * 5
  begin= begin + 1
print ("Print updated element list")
print (abc)

2  *  5  =  10
4  *  5  =  20
6  *  5  =  30
8  *  5  =  40
10  *  5  =  50
Print updated element list
[10, 20, 30, 40, 50]

In [2]:
#@title 11.Common Operations: Find the length of the list
# Find the number of elements in the list

abc = ["bob" , 1 , True , "Tom" , "John" , -10 ]

x=len(abc)
print ("Number of elements in the list are :" ,x)


sum=0
for i in abc:
  sum=sum+1
print ("Number of elements in the list are :" ,sum)

Number of elements in the list are : 6
Number of elements in the list are : 6

In [13]:
#@title 12.Common Operations: Find the maximum in the list

xyz = [ 0 , -1 , 1, -10 , -200 , -1000 ]

num=xyz[0]
for i in xyz:
  if ( num <= i ):
    num=i    
print (num)

1

In [14]:
#@title 13.Common Operations: Find the minimum in the list

xyz = [ 0 , -1 , 1, -10 , -200 , -1000 ]

num=xyz[0]
for i in xyz:
  if ( num >= i ):
    num=i    
print (num)

-1000

In [15]:
#@title 14.Common Operations: Find the sum of elements in the list

xyz = [ 0 , -1 , 1, -10 , -200 , -1000 ]

num=xyz[0]
for i in xyz:
  num=num + i   
print (num)

-1210

In [21]:
#@title 14.Removing an element by value

xyz = [ 0 , -1 , 1, -10 , -200 , -1000 ]
print (xyz)

rem=1

for i in xyz:
  if ( rem != i ):
    print (i,end=",")

[0, -1, 1, -10, -200, -1000]
0,-1,-10,-200,-1000,

In [28]:
#@title 15.Removing the last element in the list

xyz = [ 0 , -1 , 1, -10 , -200 , -1000 ]

length=len(xyz)
for i in range(length -1):
  if (length -2 != i):
    print (xyz[i],end=",")
  else:
    print (xyz[i])

0,-1,1,-10,-200

In [ ]:
#@title 16.Removing an element at a given index

In [ ]:
#@title 17.Extending a list
#(Adding several elements to one list)

In [ ]:
#@title 18.Search for an element. What is the index?

In [ ]:
#@title 19.Count the number of times an element is appearing

In [ ]:
#@title 20.Checking for Membership (in)

54.3 ns ± 5.4 ns per loop (mean ± std. dev. of 7 runs, 10000000 loops each)

In [ ]:
#@title 21.Checking for Membership (not in)

In [ ]:
#@title 22.Reverse a list

In [ ]:
#@title 23.Sort a list

In [ ]:
#@title 24.Copy a list (Caution: Don't reassign)

In [ ]:
#@title 25.Clear (Empty) a list
#Delete all the elements in the list

In [ ]:
#@title 26.Delete the entire list

In [ ]:
#@title 27.Cool Operation: You can add lists

In [ ]:
#@title 28.Cool Operation: You can multiply/repeat a list

In [ ]:
#@title 29.Cool Operation: You can convert a range to a list

In [ ]:
#@title 30.Common Operations: Find the length (Using Built-in Function)

In [ ]:
#@title 31.Common Operations: Find the maximum in the list (Using Built-in Function)

In [ ]:
#@title 32.Common Operations: Find the minimum in the list (Using Built-in Function)

In [ ]:
#@title 33.Common Operations: Find the sum of elements in the list (Using Built-in Function)

In [ ]:
#@title 34.Common Operations: Find the average of elements in the list (Using Built-in Function)

In [ ]:
#@title 35.Common Operations: Find whether the list has any duplicate elements

In [ ]:
#@title 36.Common Operations: Multiply / Divide / Do something to every element in the list

In [ ]:
#@title 37.List Unpacking (N to <N mapping)

In [ ]:
#@title 38.List Unpacking (N to <N mapping)

In [ ]:
#@title 39.Printing a List (*)

In [ ]:
#@title 40.List Slicing

In [ ]:
#@title 41.List Comprehension

In [ ]:
#@title 42.Two Dimenstional Lists  (List of Lists)

In [ ]:
#@title 43.Zipping two or three lists

In [ ]:
#@title 44.Applying a map funciton on the lists